@mixin larger-than-mobile {
    @media (min-width: $mobile) {
        @content;
    }
}

@mixin smaller-than-laptop {
    @media (max-width: $laptop) {
        @content;
    }
}

@mixin larger-than-laptop {
    @media (min-width: $laptop) {
        @content;
    }
}

@mixin larger-than-desktop {
    @media (min-width: $desktop) {
        @content;
    }
}
