@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';

html,
body {
    margin: 0;
    font-size: 10px;
    overflow-x: hidden;
    * {
        box-sizing: border-box;
    }
}

p,
a,
li {
    font: $font_body_2;
    margin: 0;
}

.page {
    width: 100vw;
}

.container {
    max-width: $max-width;
    margin: 0 auto;

    &__full-width {
        max-width: 100vw;
        width: 100vw;
        margin: $padding 0;
    }

    img {
        width: 100%;
    }

    .padding {
        padding: 0 $padding;

        &--right {
            padding-right: $padding;
        }
        &--left {
            padding-left: $padding;
        }
    }

    .margin {
        margin: 0 $padding;

        &--right {
            margin-right: $padding;
        }
        &--left {
            margin-left: $padding;
        }
    }
}

.hero {
    position: relative;
    height: 80vh;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin-bottom: $padding;

    .background {
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
    }

    img {
        width: 100vw;
    }

    .content {
        padding: 5rem 2rem;
        width: 100%;
    }

    .title {
        font: $font_heading_2;
        color: $text_white;
        margin-top: 0;
    }

    .text {
        color: $text_white;
    }

    .arrow {
        position: absolute;
        width: 100vw;
        bottom: 1rem;
        text-align: center;
        svg {
            path {
                fill: $main_red;
            }
        }
    }

    .button {
        margin-top: 1rem;
    }

    @include larger-than-laptop {
        .title {
            font: $font_heading_1;
        }

        .text {
            font: $font_heading_3;
        }
    }
}

.frontpage {
    .hero {
        height: calc(100vh - #{$header_height});
    }
}

main {
    > .container {
        padding: 2rem;
    }
}

.wysiwyg {
    p {
        &:first-of-type {
            margin-top: 0;
        }
    }

    a {
        color: $main_red;
        text-decoration: none;
    }
}

.content-with-image {
    .image {
        width: 100%;
    }

    img {
        width: 100%;
    }

    &.image-first {
        div {
            order: 2;
            &.image {
                order: 1;
            }
        }
    }
}

@include larger-than-desktop {
    .container {
        padding: 2rem;
    }
}

.button {
    padding: 2rem;
    background: $main_red;
    color: $text_white;
    font: $font_cta;
    text-decoration: none;
    display: inline-block;
}

.image {
    display: block;
    width: calc(100% - #{$padding * 2});
    margin: 0 auto;
    max-width: $max-width;

    &.fullwidth {
        max-width: 100%;
        width: 100%;
    }
}

.pvdw {
}
